header {
    background-color: rgb(2, 126, 145);
}
header nav{
    display: flex;
    justify-content: center;
    border: red solid 2px;
    
}
.logo img{
    width: 20%;
    border: red solid 2px;
}
ul{
    display: flex;
    border: red solid 2px;
    /* justify-content: space-around; */
}