.BtnContainer {
  display: flex;
  flex-direction: row;
}
.BtnNext {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
