.CardTheme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--third-color);
  background-size: cover;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  min-height: 300px;
  max-height: 35vh;
  text-align: center;
  font-family: var(--primary-font);
  overflow: hidden;
}

.Culture {
  background-image: url("../assets/img/parapluies.jpg");
}

.Environnement {
  background-image: url("../assets/img/vallee.jpg");
}

.Sport {
  background-image: url("../assets/img/sport.jpg");
}

.Brocantes {
  background-image: url("../assets/img/brocante.jpg");
}

.Autres {
  background-image: url("../assets/img/autres.jpg");
}
.motion-div{
  column-gap: 10rem;
}
.showcase {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--primary-color);
  margin-top: 75px;
  width: 95vw;
  background: rgba( 253, 253, 253, 0.1 );
box-shadow: 0 8px 32px 0 rgba(135, 133, 31, 0.37);
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 10px;
}
.heartLogo {
  height: 50px;

}

.CardThemeHeader {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
h2 {
  font-size: 3rem;
  filter: blur(0);
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h3,
h4 {
  margin-top: 1rem;
  align-self: center;
}

.CardThemeHeaderDateCulture,
.CardThemeHeaderDateSport,
.CardThemeHeaderDateEnvironnement,
.CardThemeHeaderDateBrocantes,
.CardThemeHeaderDateAutres {
  padding: 0.5rem 1rem;
  align-self: center;
}

.CardThemeHeaderDateCulture {
  background-color: var(--culture-color);
}
.CardThemeHeaderDateSport {
  background-color: var(--sport-color);
}
.CardThemeHeaderDateEnvironnement {
  background-color: var(--env-color);
}
.CardThemeHeaderDateBrocantes {
  background-color: var(--brocantes-color);
}
.CardThemeHeaderDateAutres {
  background-color: var(--autres-color);
}
.CardThemeTitle {
  font-size: 1.3rem;
  color: var(--third-color);
  text-align: center;
  font-family: var(--secondary-font);
  overflow: auto;
}

.heartBtn {
  border: none;
  background: none;

}

.BtnShowMore a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 0 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
.BtnShowMore {
  margin: 0 0 2rem 0;
}

.recordidlink {
  color: black;
  text-decoration: dotted;
  padding: 1rem;
  font-weight: bolder;
}

.recordidlink:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}
