.CardTheme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--third-color);
  background-color: var(--secondary-color);
  background-size: cover;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  min-height: 200px;
  text-align: center;
}

.Culture {
  background-image: url("./assets/img/parapluies.jpg");
}

.Environnement {
  background-image: url("./assets/img/vallee.jpg");
}

.Sport {
  background-image: url("./assets/img/sport.jpg");
}

.Brocantes {
  background-image: url("./assets/img/brocante.jpg");
}

.Autres {
  background-image: url("../assets/img/autres.jpg");
}

.showcase {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--third-color);
}
.heartLogo {
  height: 50px;
}

.CardThemeHeader {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h3,
h4 {
  margin: 0;
  align-self: center;
}

.CardThemeHeaderDateCulture,
.CardThemeHeaderDateSport,
.CardThemeHeaderDateEnvironnement,
.CardThemeHeaderDateBrocantes,
.CardThemeHeaderDateAutres {
  padding: 0.5rem 1rem;
  align-self: center;
}

.CardThemeHeaderDateCulture {
  background-color: var(--culture-color);
}
.CardThemeHeaderDateSport {
  background-color: var(--sport-color);
}
.CardThemeHeaderDateEnvironnement {
  background-color: var(--env-color);
}
.CardThemeHeaderDateBrocantes {
  background-color: var(--brocantes-color);
}
.CardThemeHeaderDateAutres {
  background-color: var(--autres-color);
}

.heartBtn {
  border: none;
  background: none;
}

.BtnShowMore a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 0 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
.BtnShowMore {
  margin: 0 0 2rem 0;
}
