.CardTheme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1.3rem;
  background-color: blue;
  background-size: cover;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  min-height: 200px;
}

.Culture {
  background-image: url("../assets/img/parapluies.jpg");
}

.Environnement {
  background-image: url("../assets/img/vallee.jpg");
}

.Sport {
  background-image: url("../assets/img/sport.jpg");
}

.Brocantes {
  background-image: url("../assets/img/brocante.jpg");
}

.Autres {
  background-image: url("../assets/img/autres.jpg");
}

.showcase {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heartLogo {
  height: 50px;
}

.CardThemeHeader {
  display: flex;
  justify-content: space-between;
}

h3,
h4 {
  margin: 0;
  align-self: center;
}

.CardThemeHeaderDate {
  background-color: orange;
  padding: 1rem;
}

.heartBtn {
  border: none;
  background: none;
}
