@import url(./MapDetailEvent.css);

* {
  margin: 0;
  padding: 0;
}

.boxcontainer {
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  box-shadow: 5px 10px 5px;
}

.box {
  width: auto;
  height: max-content;
  margin: 2rem;
}

#boxtext {
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  border: var(--primary-color) solid 2px;
  border-radius: 1rem;
  justify-content: center;
}

#img {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-container {
  border: black solid 2px;
}

.themeimgCulture {
  background-image: url("../assets/img/parapluies.jpg");
}

.themeimgSport {
  background-image: url("../assets/img/sport.jpg");
}

.themeimgEnvironnement {
  background-image: url("../assets/img/vallee.jpg");
}

.themeimgBrocantes {
  background-image: url("../assets/img/brocante.jpg");
}

.themeimgAutres {
  background-image: url("../assets/img/autres.jpg");
}

.alignimgfav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 200px;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.datedebutevent h4 {
  padding: 1.2rem;
  color: aliceblue;
  font-size: larger;
}

.datedebuteventthemecolorCulture {
  background-color: var(--culture-color);
}

.datedebuteventthemecolorSport {
  background-color: var(--sport-color);
}

.datedebuteventthemecolorEnvironnement {
  background-color: var(--env-color);
}
.datedebuteventthemecolorBrocantes {
  background-color: var(--brocante-color);
}

.datedebuteventthemecolorAutres {
  background-color: var(--autre-color);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 0 3px var(--primary-color), 0 0 10px var(--secondary-color);
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

#textdate {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 1rem;
}

.thematique {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.textaligndescription {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.adress,
.website,
.websitelink {
  font-family: Arial, Helvetica, sans-serif;
}

.website {
  text-align: center;
}

.websitelink {
  color: black;
  text-align: center;
  font-style: italic;
}

.photomap {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.box-agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  align-items: center;
}

#agenda {
  font-size: xxx-large;
  text-align: center;
}

#btn-agenda {
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

#btn-agenda:hover {
  border: var(--primary-color) solid 5px;
}

#sharesociallink {
  color: black;
  font-size: large;
  font-style: italic;
  text-align: center;
}

#sociallink {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--third-color);
  border-radius: 1rem;
  margin-top: 0;
}

.facebookicon,
.instagramicon,
.twittericon,
.linkedin {
  font-size: xx-large;
}
