@import "../../node_modules/leaflet/dist/leaflet.css";
:root {
  --mapwidth: 90vw;
  --mapheight: 45vh;
}

.leaflet-container {
  margin: auto;
  margin-bottom: 5rem;
  height: var(--mapheight);
  width: var(--mapwidth);
  border-radius: 2rem;
}
.leaflet-default-icon-path {
  background-color: aqua;
}

.legend {
  display: flex;
  justify-content: space-around;
}
.markerslgd {
  width: 5.5rem;
  height: 4.5rem;
  margin-top: -5rem;
}
