.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.searchbar {
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}

button {
  border: 3px solid var(--secondary-color);
  background-color: #000000bd;
  border-radius: 50px;
}
