.fav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  gap: 2rem;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
.fav-container h3{
  text-shadow: 0px 0px 5px black;
}
#wildLogo {
  height: 3rem;
  align-self: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(64, 59, 42, 0.472);
}

.credits {
  display: flex;
  flex-direction: column;
}
