.AskPlaceContainer {
  text-align: center;
  /* margin-top: 75px; */
}
.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.search-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
