.AskDateContainer {
  text-align: center;
}

.calendar-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.calendar-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
/* Style du calendrier */
.react-calendar {
  width: 300px;
  max-width: 100%;
  background: radial-gradient(rgba(245, 245, 245, 0.613),rgb(255, 254, 254) );
  color: #222;
  border-radius: 1rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: var(--primary-font);
  line-height: 1.125rem;
}

/* Partie supérieure */
.react-calendar__navigation button {
  color: var(--primary-color);
  min-width: 44px;
  background: none;
  font-size: 1.5rem;
  margin-top: 8px;
  font-family: var(--primary-font);
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: grey;
  color: var(--third-color);
  border-radius: 0.5rem;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--primary-color);
  color: var(--third-color);
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: var(--secondary-color);
  border-radius: 6px;
  font-weight: bold;
  color: var(--primary-color);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--primary-color);
  border-radius: 6px;
  font-weight: bold;
  color: var(--primary-colorr);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--secondary-color);
}
.react-calendar__tile--active {
  background: var(--secondary-color);
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--primary-color);
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 0.5rem;
  background: var(--primary-color);
  color: white;
}
