@import "../node_modules/leaflet/dist/leaflet.css";
@font-face {
  font-family: falsepos;
  src: url("./assets/font/falsepos.ttf");
}
@font-face {
  font-family: nazara;
  src: url("./assets/font/c7nazara.ttf");
}
@font-face {
  font-family: caviar;
  src: url("./assets/font/CaviarDreams.ttf");
}
:root {
  /*Font*/
  --primary-font: caviar;
  --secondary-font: nazara;

  /*Color*/
  --primary-color: #151515ff;
  --secondary-color: #fccd00;
  --third-color: #eeeeee;

  --culture-color: orange;
  --sport-color: blue;
  --env-color: green;
  --brocantes-color: brown;
  --autres-color: grey;
}
* {
  box-sizing: border-box;
}
p {
  font-family: var(--primary-font);
  font-weight: 900;
}
#app-ul {
  opacity: 0;
}

body {
  max-width: 100%;
  margin: 0;
  font-family: var(--secondary-font);
  padding: 0;
  font-family: "montserrat";
  z-index: 0;
  background-color: var(--third-color);
}
.MapCont {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  justify-content: space-between;
}
h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

.BtnContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  gap: 2vw;
}
.BtnNext {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 20px 2px rgb(243, 225, 29);
}
.navbar {
  box-shadow: 0px 0px 20px 10px #151515ff;
}
