@import "../node_modules/leaflet/dist/leaflet.css";

@font-face {
  font-family: falsepos;
  src: url("./assets/font/falsepos.ttf");
}
@font-face {
  font-family: nazara;
  src: url("./assets/font/c7nazara.ttf");
}

:root {
  /*Font*/
  --primary-font: falsepos;
  --secondary-font: nazara;

  /*Color*/
  --primary-color: #3d3d3d;
  --secondary-color: #fccd00;
  --third-color: #eeeeee;

  --culture-color: orange;
  --sport-color: blue;
  --env-color: green;
  --brocantes-color: brown;
  --autres-color: grey;
}
body {
  margin: 0;
  font-family: var(--secondary-font);
  background-color: var(--third-color);
  margin-top: 75px;
}
.Map-cont {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}
